html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    user-select: none;
}


/* COLOURS */

html,
body {
    background-color: #373e4e;
}

#scheme,
#registry {
    background-color: #3e3c3e;
    border-color: #797683;
}

.put.true {
    background-color: #ec2929;
}

.put.false {
    background-color: #101010;
}

.unit {
    background-color: #ffffff;
}