html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    user-select: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.container {
    margin: 0;
    padding: 0;
    position: absolute;
}

.block {
    border-style: solid;
    position: absolute;
}

.unit {
    text-align: center;
    vertical-align: middle;
}

.put {
    position: absolute;
    border-radius: 50%;
}

.line {
    stroke-width: 3px;
}

.btn.save {
    position: absolute;
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    background-color: #ffffff70;
    color: #101010;
}


/* COLOURS */

html,
body {
    background-color: #373e4e;
}

.container {
    background-color: #ffffff70;
}

.scheme,
.registry {
    background-color: #3e3c3e;
    border-color: #797683;
}

.put.true {
    background-color: #ec2929;
}

.put.false {
    background-color: #101010;
}

.unit {
    background-color: #ffffff;
}

.dot {
    position: absolute;
    background-color: #ec2929;
    width: 1px;
    height: 1px;
}

.line.true {
    background-color: #ec2929;
}

.line.false {
    background-color: #101010;
}